/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

/* 公共样式 */
.mui-btn-danger{
	background-color: #c8000a;
}
.mui-bar-nav{
	background-color: #c8000a;
}
.mui-title{
	color:#fff;
}
.mui-pull-left,.mui-pull-right{
	line-height: 44px;
	color: #fff;
}
.mui-input-group label{
	width: 30%!important;
	font-size: 18px!important;
}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
	width: 70%!important;
}
.mui-card{
	margin:0!important;
}
.mui-input-group:first-child{
	margin-top: 0px!important;
}




/*注册页面*/
.area {
	margin: 20px auto 0px auto;
}

.mui-input-group {
	margin-top: 10px;
}

.mui-input-group:first-child {
	margin-top: 20px;
}

.mui-input-group label {
	width: 22%;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 78%;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	top: 6px;
}

.mui-content-padded {
	margin-top: 25px;
}

.mui-btn {
	padding: 10px;
}

.link-area {
	display: block;
	margin-top: 25px;
	text-align: center;
}

.spliter {
	color: #bbb;
	padding: 0px 8px;
}

.oauth-area {
	position: absolute;
	bottom: 20px;
	left: 0px;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.oauth-area .oauth-btn {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0px 20px;
	/*-webkit-filter: grayscale(100%); */
	border: solid 1px #ddd;
	border-radius: 25px;
}

.oauth-area .oauth-btn:active {
	border: solid 1px #aaa;
}

.oauth-area .oauth-btn.disabled {
	background-color: #ddd;
}


/* 乐享金 */
.circle{
	background-color: #c8000a;
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	color:#fff;
	margin:0 auto;
	border-radius: 50%;
	text-align: center;
}
.circle-gray{
	background-color:#fff;
	color:#000;
}
.progress{
	background-color: #ededed;
}
.app-header {
	color:#c8000a;
	font-size: 20px;
	font-weight: 600;
}
.mui-msg{
	text-align: center;
	padding: 1rem;
	color:#b0adad;
}
.result .mui-icon{
	color:#4cd964;
}
.flag{
	color:#dd524d!important;
}


/* 贷款申请页面 */
.mui-popup-inner{
	padding:0px!important;
}
.mui-popup{
	border-radius: 8px!important;
}
.mui-table-view-radio .mui-table-view-cell>a:not(.mui-btn){
	text-align: left!important;
}
.mui-popup-title{
	line-height: 2.8rem;
	color:#c8000a;
}
.mui-input-row label~input, .mui-input-row label~select, .mui-input-row label~textarea{
	text-align: left!important;
}
.mui-popup {
	width: 90%!important;
}
 h5{
    padding-top: 15px;
}

.field-contain label{
    width: auto;
    padding-right: 0;
}

.field-contain input[type='text']{
    width: 40px;
    height: 30px;
    padding: 5px 0;
    float: none;
    text-align: center;
}

/* 自我评估 */
.list-radio{
	position: absolute;
	top:50%;
	left: 5%;
	width: 90%;
	transform: translateY(-50%)
}
.com-title{
	text-align: center;
	height: 2.6rem;
	line-height: 2.6rem;
	background-color: #c8000a;
	color:#fff;
	font-size: 1.6rem;
	font-weight: 600;
}
.active{
	display: block;
}
.no{
	display: none;
}

/* 贷款产品页面 */
.plist li{
	display: flex;
	display: -webkit-flex;
	border-bottom: 8px solid #efeff4;
}
.plist-l{
	flex: 2;
	-webkit-flex: 2;
	flex:2;
	position: relative;
}
.plist-l img{
	width: 100%;
	height: 100%;
}
.plist-r{
	flex: 3;
	-webkit-flex: 3;
	margin-left: 0.5rem;
}

.plist .mui-table-view-cell{
	padding:0.5rem;
}
.plist-r button{
	margin:0.5rem 0 0 1rem;
}
.plist-r p{
	font-size: 16px!important;
	line-height: 1.6rem;
	color:#000;
}
.plist-r p .mui-icon{
	color:#4cd964;
	font-size: 17px;
	margin-right: 4px;
	border-radius: 50%;
	border:1px solid #4cd964;
}
.pname{
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	position: absolute;
	font-weight: 700;
	font-size:26px!important;
	color:#FFF;
	line-height: 32px;
}
.plist-r .mui-btn{
	padding: 5px!important;
}
.mui-h5, h5{
	font-size: 18px;
}
.marginBg{
	border-top: 2rem solid #efeff4;
}
.marginBg .weui-cells{
	margin-top: 0px;
}