<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>贷款产品</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/app.css" rel="stylesheet" />
		<style>
			.mui-card-header{
				background-color:#c8000a;
				text-align: center;
				font-size: 20px!important;
				color:#fff!important;
				font-weight: 700!important;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-pull-left">返回</a>
			<h1 class="mui-title">贷款产品</h1>
			<a class="mui-pull-right">退出</a>
		</header>
		
		<div class="mui-content">
			<div class="mui-content-padded" style="margin: 5px;">
				<div class="mui-msg">
					乾源通贷款产品
				</div>

				<div class="mui-card">
					<div class="mui-card-header mui-card-media">
						社保、公积金贷
					</div>

					<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(images/cbd.jpg)"></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul class="mui-table-view">
								 <li class="mui-table-view-cell">适用人群——由单位购买了社保或者公积金</li>
						         <li class="mui-table-view-cell">放款速度 最快一天</li>
						         <li class="mui-table-view-cell">最高额度 50万</li>
						         <li class="mui-table-view-cell">贷款期限 1-36个月</li>
							</ul>
								
							<ul class="mui-table-view">
								 <li class="mui-table-view-cell"><p>所需资料:1.身份证2.社保、公积金截图3.中国建设银行储蓄卡4.生活照</p></li>
							</ul>
						</div>
					</div>

					<div class="mui-card-footer">
						<button id='login' class="mui-btn mui-btn-block mui-btn-danger">立即申请</button>
					</div>
				</div>
				
				<br>
				<br>

				<div class="mui-card">
					<div class="mui-card-header mui-card-media">
						汽车抵押贷款
					</div>

					<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(images/yuantiao.jpg)"></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul class="mui-table-view">
								 <li class="mui-table-view-cell">适用人群--全款购买的汽车或已结清按揭的车辆</li>
						         <li class="mui-table-view-cell">放款速度 最快一天</li>
						         <li class="mui-table-view-cell">最高额度 100万</li>
						         <li class="mui-table-view-cell">贷款期限 1-36个月</li>
							</ul>
								
							<ul class="mui-table-view">
								 <li class="mui-table-view-cell"><p>所需资料:1.身份证2.机动车辆登记证书3.汽车保险4.机动车辆行驶证</p></li>
							</ul>
						</div>
					</div>

					<div class="mui-card-footer">
						<button id='login' class="mui-btn mui-btn-block mui-btn-danger">立即申请</button>
					</div>
				</div>

				<br>
				<br>

				<div class="mui-card">
					<div class="mui-card-header mui-card-media">
						生意贷
					</div>

					<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(images/shuijiao.jpg)"></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul class="mui-table-view">
								 <li class="mui-table-view-cell">适用人群——拥有一年以上的营业执照</li>
						         <li class="mui-table-view-cell">放款速度 最快一天</li>
						         <li class="mui-table-view-cell">最高额度 100万</li>
						         <li class="mui-table-view-cell">贷款期限 1-36个月</li>
							</ul>
								
							<ul class="mui-table-view">
								 <li class="mui-table-view-cell"><p>所需资料:1.身份证2.营业执照3.近6个月银行流水4.生活照</p></li>
							</ul>
						</div>
					</div>

					<div class="mui-card-footer">
						<button id='login' class="mui-btn mui-btn-block mui-btn-danger">立即申请</button>
					</div>
				</div>
				
				<br>
				<br>

				<div class="mui-card">
					<div class="mui-card-header mui-card-media">
						房屋抵押贷款
					</div>

					<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(images/muwu.jpg)"></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul class="mui-table-view">
								 <li class="mui-table-view-cell">适用人群——全款购买的房屋</li>
						         <li class="mui-table-view-cell">放款速度 最快三天</li>
						         <li class="mui-table-view-cell">最高额度  2000万</li>
						         <li class="mui-table-view-cell">贷款期限 1-36个月</li>
							</ul>
								
							<ul class="mui-table-view">
								 <li class="mui-table-view-cell"><p>所需资料:1.身份证2.房屋产权证书3.土地使用证书</p></li>
							</ul>
						</div>
					</div>

					<div class="mui-card-footer">
						<button id='login' class="mui-btn mui-btn-block mui-btn-danger">立即申请</button>
					</div>
				</div>

				<br>
				<br>

				<div class="mui-card">
					<div class="mui-card-header mui-card-media">
						及时贷
					</div>

					<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(images/yuantiao.jpg)"></div>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<ul class="mui-table-view">
								 <li class="mui-table-view-cell">适用人群——拥有大陆居民身份证、年满18周岁</li>
						         <li class="mui-table-view-cell">放款速度 最快一天</li>
						         <li class="mui-table-view-cell">最高额度 3万</li>
						         <li class="mui-table-view-cell">贷款期限 1-3个月</li>
							</ul>

							<ul class="mui-table-view">
								 <li class="mui-table-view-cell"><p>所需资料:1.身份证2.近一个月个人信用报告3.近6个月银行流水4.生活照</p></li>
							</ul>
						</div>
					</div>

					<div class="mui-card-footer">
						<button id='login' class="mui-btn mui-btn-block mui-btn-danger">立即申请</button>
					</div>
				</div>
			</div>
		</div>

		
		


		<script src="js/mui.min.js"></script>
		<script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.js"></script>
		<script src="js/mui.enterfocus.js"></script>
		<script src="js/app.js"></script>
	</body>

</html>